body{
    background-color: #171717;
}

/*---------------------------CODIGO DA NAVBAR-----------------------------*/

#menu-outer {
    text-decoration: none;
}

ul#horizontal-list {
    position: flex;
    text-align: center;
	list-style: none;
    margin-left: 50%;
}

a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase
}

a:hover {
    color: #F4BD38;
}

ul#horizontal-list li {
    display: inline;
}

/*---------------------------FIM DA NAVBAR-----------------------------*/


.capa-livro{
    position: absolute;
    width: 173px;
    height: 255px;
    left: 127px;
    top: 118px;

    background: #F4BD38;
}

.titulo-livro{
    position: relative;
    width: 479px;
    height: 96px;
    left: 315px;
    top: 18px;

    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 96px;
    /* identical to box height */


    color: #F4BD38;
}

.conteudo-livro{
    position: absolute;
    width: 406px;
    height: 304px;
    left: 328px;
    top: 185px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 5px;

    color: white;

}

span{
    color:#F4BD38;
    font-weight: bold;
}

.comentarios{
    position: absolute;
    width: 1100px;
    height: 230px;
    left: 127px;
    top: 400px;

    background: #F4BD38;
}

.espaço-comentários{
    position: absolute;
    width: 990px;
    height: 120px;
    left: 50px;
    top: 80px;
    background: #171717;
    color: white
}

#texto-comentario{
    position: relative;
    margin: 15px 15px 15px 15px;
    font-family: 'Open Sans', sans-serif;
}

.titulo-comentarios{
    position: absolute;
    width: 248px;
    height: 48px;
    left: 50px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #171717;
}

#guia-comentarios {
    text-decoration: none;
}

ul#lista-horizontal {
    position: absolute;
    text-align: center;
	list-style: none;
    margin-left: 70%;
}

#icon-comentario{
    margin-left: 30px;
    text-decoration: none;
    color: #171717;
    font-family: 'Open Sans', sans-serif;
    text-transform:uppercase
}

#icon-comentario :hover {
    color: white;
}

ul#lista-horizontal li {
    display: inline;
}

